
@{
    ViewData["Title"] = " Games | Home";
}

<div class="p-5 mb-4 bg-dark rounded-3 jumbotron-hero"
     style="background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
            url('/img/fundo.jpg') no-repeat center/cover;">

    <div class="container-fluid py-5 text-white">
        <h1 class="display-5 fw-bold">Domine o Jogo</h1>
        <p class="col-md-8 fs-4">Os lançamentos mais esperados e as melhores ofertas em um só lugar. Upgrade no seu setup começa aqui.</p>
        <button class="btn btn-neon btn-lg" type="button">Ver Ofertas</button>
    </div>
</div>

<div class="container mb-5">
    <div class="d-flex justify-content-center gap-3 flex-wrap">
        <span class="badge rounded-pill bg-secondary p-2 px-3">RPG</span>
        <span class="badge rounded-pill bg-secondary p-2 px-3">Ação</span>
        <span class="badge rounded-pill bg-secondary p-2 px-3">Corrida</span>
        <span class="badge rounded-pill bg-secondary p-2 px-3">Aventura</span>
    </div>
</div>

<div class="container">
    <h2 class="mb-4">Em Destaque</h2>

   
</div>